
.div-imagen-fondo{
    background-image: url(/imagenes/rojo.png);
    background-size: 1500px;
    background-repeat: no-repeat;

}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ff3c3c; /* Fondo rojo */
    color: #000000; /* Texto negro */
}

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Fondo gris claro */
    color: black; /* Texto gris oscuro */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para el formulario */
#appointment-form {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50; /* Fondo verde */
    color: #ffffff; /* Texto blanco */
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Fondo verde oscuro al pasar el ratón */
}

/* Estilos para el calendario */
.ui-datepicker {
    font-size: 12px;
}

.ui-datepicker-header {
    background-color: #4CAF50; /* Fondo verde */
    color: #ffffff; /* Texto blanco */
    font-weight: bold;
}

.ui-datepicker-calendar td {
    padding: 5px;
}

.ui-datepicker-calendar td a {
    display: block;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    color: #333333; /* Texto gris oscuro */
}

.ui-datepicker-calendar td a:hover {
    background-color: #f9f9f9; /* Fondo gris claro al pasar el ratón */
}



