body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ff3c3c; /* Fondo rojo */
    color: #000000; /* Texto negro */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.forum-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input,
textarea {
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 10px;
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333333; /* Fondo gris oscuro al pasar el ratón */
}
