body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.nuevo-tema {
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.comentarios {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 20px;
}

.comentarios h2 {
  margin-bottom: 10px;
}

.comentarios ul {
  list-style-type: none;
  padding: 0;
}

.comentarios li {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.comentarios .nombre-usuario {
  font-weight: bold;
}

.comentarios .tema {
  font-weight: bold;
  color: #555;
}

.comentarios .comentario {
  margin-top: 5px;
}

.div-imagen-fondo {
  background-image: url(/imagenes/rojo.png);

  
 background-size: 1500px;
 background-repeat: no-repeat;
        
}