/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 45px 20px 0;
    background-color: #f2f2f2;
}

.header {
    background-color: #333;
    height: 12%;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin-right: 40px;
    background-color: black; /* Agregamos el fondo negro */
    padding: 10px; /* Añadimos espacio entre las opciones */
    border-radius: 10px; /* Borde redondeado */
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 10px;
}

.nav-menu-link:hover {
    font-size: 22px;
    background-color: salmon;
    transition: 0.7s;
}

#contenido {
    background-color: #f5f5f5;
    position: fixed;
    top: 12%;
    bottom: 8%;
    left: 0;
    width: 100%;
    overflow: auto;
    padding-left: 15px;
    font-weight: bold;
}

.footer {
    background-color: #333;
    text-align: center;
    color: white;
    height: 8%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* Agrega estas líneas en tu archivo menu.css */
.nav {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-logo {
    display: flex;
    align-items: center; /* Alinea verticalmente */
}

.nav-logo img {
    width: 40px; /* Ajusta el tamaño del logotipo según tus necesidades */
    height: auto;
    margin-right: 10px;
}

