.div-imagen-fondo {
    background-image: url(/imagenes/recetas.png);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Fondo gris claro */
    color: #333333; /* Texto gris oscuro */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.recipe-button {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: #8ebf3d; /* Fondo verde claro */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.recipe-button:hover {
    background-color: #7aab34; /* Fondo verde claro al pasar el ratón */
}

.recipe-content {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.video-section {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.video-section h2 {
    text-align: center;
}

.video-section iframe {
    display: block;
    margin: 0 auto;
}

.food-list-section {
    background-color: #8ebf3d; /* Fondo verde claro */
    padding: 10px;
    border-radius: 5px;
    color: black; /* Texto blanco */
}

.food-list-section h2 {
    text-align: center;
}

.food-list-container {
    background-color: #ffffff; /* Fondo blanco */
    padding: 10px;
    border-radius: 5px;
}

.food-list-container ul {
    list-style-type: none;
    padding: 0;
}

.food-list-container li {
    margin-bottom: 10px;
}
