.div-imagen-fondo {
    background-image: url(/imagenes/recetas.png);
    background-size: cover; /* La imagen de fondo se ajustará automáticamente */
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Fondo gris claro */
    color: #333333; /* Texto gris oscuro */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.recipe-button {
    display: block;
    width: 150px;
    margin: 10px auto;
    padding: 10px;
    background-color: #4CAF50; /* Fondo verde */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.recipe-button:hover {
    background-color: #45a049; /* Fondo verde oscuro al pasar el ratón */
}

.recipe-content {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe-content h2 {
    margin-bottom: 10px;
}

.recipe-content h3 {
    margin-bottom: 5px;
}

.recipe-content ul,
.recipe-content ol {
    margin-left: 20px;
}
