<!DOCTYPE html>
<html>
    <head>
        <title>Solicitar Cita - Salud Online</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="css/cita.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul class="nav-menu">
                    <div class="nav-logo">
                        <img src="imagenes/Logo.png" alt="Logo">
                    </div>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="index.html">Home</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="imc.html">IMC</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="recetas.html">Recetas Saludables</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="ejercicios.html">Rutinas de ejercicios</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="cita.html" id="btn-solicitar-cita">Solicitar cita</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="foro.html">Foro</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <section class="div-imagen-fondo">
            <div class="container">
                <h1>Solicitar Citas</h1>
                <div id="comment-form" class="form-container">
                    <h3>Solicita tu cita</h3>
                    <form id="nuevaCitaForm" method="post" action="/cita/guardar"> 
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" required>

                        <label for="telefono">Telefono:</label>
                        <input type="text" id="telefono" name="telefono" required>

                        <label for="especialista">Especialista:</label>
                        <input type="text" id="especialista" name="especiiaista" required>

                        <label for="asunto">Asunto:</label>
                        <input type="text" id="asunto" name="asunto" required>

                        <label for="fecha_cita">Fecha Preferencia:</label>
                        <textarea id="fecha_cita" name="fecha_cita" rows="4" required></textarea>
                        
                         <label for="comentario">Comentario:</label>
                        <input type="text" id="comentario" name="comentario" required>

                        <button id="submit-btn">Solicitar Cita</button>
                    </form>
                    <div id="thank-you-message" class="thank-you-message">
                        <i class="fas fa-check-circle"></i><br>
                        <p>¡Gracias por tu comentario!</p>
                    </div>
                </div>

                <div class="citas" id="listaCitas">
                    <h2>Citas Pendientes</h2>
                    <div th:each="cita : ${citas}" class="added-cita">
                        <div class="cita-header">
                            Nombre: <span th:text="${cita.nombre}"></span>
                        </div>
                        <div class="cita-body">
                            Tema: <span th:text="${cita.asunto}"></span><br>
                            Cita: <span th:text="${cita.cita}"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="social-icons">
                <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
            <script src="js/SolicitarCita.js" type="text/javascript"></script>
        </section>


    </body>
</html>
