<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/login.css" rel="stylesheet">
    <title>Salud Online - Login</title>
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form method="POST" th:action="@{/login}">
            <div class="form-group">
                <label for="usuario"><i class="fas fa-user-lock"></i> [[#{login.nombre}]]:</label>
                <input class="form-control" type="text" name="usuario" id="usuario">
            </div>
            <div class="form-group">
                <label for="contraseña"><i class="fas fa-key"></i> [[#{login.contraseña}]]:</label>
                <input class="form-control" type="password" name="contraseña" id="contraseña">
            </div>
            <div class="button-group">
                <button class="btn btn-secondary">
                    <a th:href="@{/registro/nuevo}" class="btn-link"><i class="fas fa-user-plus"></i> [[#{accion.registrar}]]</a>
                </button>
                <button class="btn btn-secondary">
                    <a th:href="@{/registro/recordar}" class="btn-link"><i class="fas fa-envelope"></i> [[#{accion.recordar}]]</a>
                </button>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-sign-in-alt"></i> [[#{login.login}]]
                </button>
            </div>
        </form>
        <div th:if="${param.error != null}" class="error-message">
            <p>[[#{error.login}]]</p>
        </div>
    </div>
</body>
</html>
